.page
{
    background-image: url("https://wallpapercave.com/wp/sScwdFB.jpg");
    background-position: center center;
    position:fixed;
    height:100vh;
    width:100vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login
{
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    align-items:center;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(12.5px);
    border: 5px solid rgba(255, 255, 255, 0.3);
}
.container{
    padding: 50px;
}

.Login-Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.abc
{
    font-size: 30px;
    text-align: center;
}
.email,.password
{
    font-size: 20px;
}
#e,#p
{
    border-radius: 15px;
    height:37px;
    width: 200px;
    border-color: purple;
}
.button
{
    margin-top:15px;
}
.error
{
    color:red;
}
.message
{
    color:rgb(31, 196, 31);
}
@media (max-width:400px)
{
    .container{
        padding: 10px;
    }
}